nav
  background-color: #f5f5f5
  ul
    list-style-type: none
    margin: 0
    padding: 0
    li
      border-style: solid
      border-width: 0 0 1px
      display: block
      border-color: #e5e5e5
      a
        padding: .75em 1.5em
        display: block
        color: #555
        text-decoration: none
        // transition: all .1s ease-in-out
      a:hover, a:active, a:focus
        background-color: #e5e5e5

// Desktop-view
@media screen and (min-width: 1024px)
  nav
    ul
      border-width: 0 1px 0 0
      li, li a
        display: inline-block