// BEGIN react-split-pane
$thickness: 3px
$borderThickness: 10px
$widthHeight: $borderThickness * 2 + $thickness
$margin: -$borderThickness
$borderColor: rgba(0, 0, 0, 0)
$borderColorHover: rgba(0, 0, 0, 0.3)
$easeSpeed: .2s

.SplitPane
  height: auto!important
  min-height: 100%
  overflow-Y: visible!important

.Resizer
  background: #000
  opacity: .5
  z-index: 1
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  -moz-background-clip: padding
  -webkit-background-clip: padding
  background-clip: padding-box
  &:hover
    -webkit-transition: all $easeSpeed ease
    transition: all $easeSpeed ease
  &.horizontal
    height: $widthHeight
    margin: $margin 0
    border-top: $borderThickness solid $borderColor
    border-bottom: $borderThickness solid $borderColor
    cursor: row-resize
    width: 100%
    &:hover
      border-top: $borderThickness solid $borderColorHover
      border-bottom: $borderThickness solid $borderColorHover
  &.vertical
    width: $widthHeight
    margin: 0 $margin
    border-left: $borderThickness solid $borderColor
    border-right: $borderThickness solid $borderColor
    cursor: col-resize
    &:hover
      border-left: $borderThickness solid $borderColorHover
      border-right: $borderThickness solid $borderColorHover

.Resizer.disabled
  cursor: not-allowed
  &:hover
    border-color: transparent
// END react-split-pane
