table
  margin: 0 0 40px 0
  width: 100%
  box-shadow: 0 1px 3px rgba(0,0,0,0.2)
  display: table
  @media screen and (max-width: 580px)
    display: block

tr
  display: table-row
  background: #f6f6f6
  height: 28px
  &:nth-of-type(odd)
    background: #e9e9e9
  &.header
    font-weight: 900
    color: #ffffff
    background: #ea6153
  &.blue
    background: #2980b9
  @media screen and (max-width: 580px)
    padding: 8px 0
    display: block

td,th
  padding: 0 // 6px 12px
  display: table-cell
  @media screen and (max-width: 580px)
    padding: 2px 12px
    display: block

td.active-col
  outline: 2px solid red

tr.active-row
  background-color: #ccf

tr.parent
  font-weight: bold

tr.row-level0
  // font-weight: bold

tr.row-level2
  // font-style: italic